
// general responsive
img.responsive-img {
  height: inherit;
  padding: 0;
  font-size: 0;
} .max-height-inherit {
  max-height: inherit;
} .height-inherit {
  height: inherit;
}

// brand-logo
.brand-logo {
  height: inherit;
} #bluryLogoHome {
  max-height: 80px;
}

// bolder black
#BBlogo-container {
  max-height: 140px;
} #bbsampleWrap {
  height: 140px;
}

// award
.awardLink {
  height: 120px;
} .awardDiv {
  margin-top: 30px;
}

#teamLink {
  height: 100px;
}

// social
.socialImg {
  max-height: 50%;
} .socialLink {
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
} .socialContainer {
  padding-left: 0;
} .overlay {
  position: absolute;
  bottom: 100%;
  height:0;
  //left: 0;
  //right: 0;
  //background-color: #008CBA;
  overflow: hidden;
  //width: 100%;
  transition: .5s ease;
}

//social mobile
@media only screen and (max-width: 992px){

  .socialContainer {
    position: absolute;
    width: 100%;
    bottom:15%;
  } .socialLink {
    margin-left: 20px;
    margin-right: 20px;
  }
}

// Navbar Links
nav {
  ul {
    li {
      &.active {
        background-color: rgba(0,0,0,0);
      }
    }
    a.socialLink {
      &:hover {
        background-color: rgba(1,0,0,0);
      }
    }
    a.socialLink:hover .overlay {
      bottom: 0;
      height: 100%;
    }
  }
}
