


canvas
{
    //display: block;
    //vertical-align: bottom;
}

#aa_particles
{
    z-index: 4;

    //height: 100%;
    height: 40vh;

    background: $particle_c1;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100);

.aa_sec
{
    position: absolute;
    z-index: 0;
    top: 20%;
    right: 0;
    left: 0;

    margin: 0  auto;
}

.aa_col {
  padding: 0;
}

.aa_txt
{
    font: 50px/1.58 Roboto;
    font-weight: bolder;
    color: white;
}
.aa_number
{
    padding: 1rem;
    background: $particle_c2;
}
.aa_letter
{
    padding: 1rem;
    background: $particle_lighten;
    color: $particle_c2;
}
