@import '../vendor/materialize/components/_color-variables.scss';
@import '../vendor/materialize/components/_variables.scss';

// Fonts
$font-stack: 'Andale Mono', monospace;

// Font Sizing
$font-size: 14px;
$baseLineHeight: 1.5;
$headingLineHeight: 1.2;

//bi colors

// Colors
$black: rgba(51,51,51,1);
$bi1: #9ED86C;
$bi2: #53BA83;
$bi3: #029B9A;
$bi4: #1D6075;
$bi5: #0C0636;
//$c1 : #674172;
//$particle_c1 : #476177;
$particle_c1 : $bi3;
$particle_c2 : $bi5;
$particle_c3 : darken($particle_c1,2%);

// Spacing
$pad: 1em;
$article-width: 760px;
$navHeight: 84px;

// Breakpoints
$smallBreakpoint : 600px;
$largeBreakpoint : 1080px;
