h6 {
  font-weight: bold;
}

.impact-message {
  padding: 5vh;
  margin-top: 0;
  margin-bottom: 0;

  h2 {
    color: hsl(0,0,20);
    margin: 0;
    font-style: italic;
    text-align: center;

    b {
      color: hsl(170,50,50)
    }
  }
}
