h6 {
  font-weight: bold;
}

.impact-message {

  h2 {
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: hsl(0,0,20);
    margin: 0;
    font-style: italic;
    text-align: center;

    b {
      color: hsl(170,50,50)
    }
  }
}
